/*
/Assets/StreamingAssets/
/Assets/BuildReports/
/Assets/Resources/Temp/
!/Assets
!/ProjectSettings
!/Packages
!/Packages/manifest.json
!/Packages/packages-lock.json
!.gitignore
!.gitattributes
!steam_api.dll
!steam_api64.dll
!steam_appid.txt
!Lua.code-workspace
/Assets/Resources/Config/BuildLocalConfig.asset
/Assets/Resources/Config/BuildLocalConfig.asset.meta
/Assets/Resources/Manifest.asset
/Assets/Resources/Manifest.asset.meta
/Assets/OPS